// Variables
$primary-color: #FFF;
$bg: #201c1c;

// Maps
$font-weights: (
	"regular": 400,
	"bold": 700
);

// Mixins
@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

// Functions
@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

// Other
.visible {
  display: block;
}

.hidden {
  display: none;
}

// Main part
body {
  color: $primary-color;
  background-color: $bg;
}

.top {
  @include flexCenter(row);
  justify-content: space-between;
}

.page-title {
  text-transform: uppercase;
  color: #D20A32;
  font-family: 'Lato', sans-serif;
}

.searchbar {
  border: 1px solid $primary-color;
  color: $primary-color ;
  background-color: $bg;
  box-sizing: border-box;
  border-radius: 20.5px;
  -webkit-border-radius: 20.5px;
  -moz-border-radius: 20.5px;
  -ms-border-radius: 20.5px;
  -o-border-radius: 20.5px;
}

.page-description {
  text-align: justify;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.cardGame {
  margin-right: 20px;
  margin-bottom: 30px;

  &:hover .revealed-on-hover {
    display: block;
  }
}

.div-img {
  width: 300px;
  height: 170px;
  position: relative
}

.cardIcon {
  width: 300px;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}

.revealed-on-hover {
  background-color: rgba($color: black, $alpha: 0.5);
  position: absolute;
  width: 300px;
  height: 170px;
  display: none;
  top: 0;
  left: 0;
}

.hover-elt {
  margin-top: 15px;
  margin-left: 15px;
}

.btn-show-more-container {
  @include flexCenter(row);
}
