// Variables
$primary-color: #FFF;
$secundary-color: #D20A32;
$bg: #201c1c;
$main-width: 1000px;

// Maps
$font-weights: (
	"regular": 400,
	"bold": 700
);

// Mixins
@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

// Functions
@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

// Other

// Main part
body {
  color: $primary-color;
  background-color: $bg;
  font-family: 'Lato', sans-serif;
}

.top {
  @include flexCenter(row);
  justify-content: space-between;
}

.main-title {
  text-transform: uppercase;
  color: $secundary-color;
}

.searchbar {
  border: 1px solid $primary-color;
  color: $primary-color ;
  background-color: $bg;
  box-sizing: border-box;
  border-radius: 20.5px;
  -webkit-border-radius: 20.5px;
  -moz-border-radius: 20.5px;
  -ms-border-radius: 20.5px;
  -o-border-radius: 20.5px;
}

.page-description {
  text-align: justify;
}


.footer-bar {
  background-color: $secundary-color;
  height: 1px;
  border: none;
}

// PageList
.articles {
  display: flex;
  flex-wrap: wrap;
}

.cardGame {
  margin-right: 20px;
  margin-bottom: 30px;

  &:hover .revealed-on-hover {
    display: block;
  }
}

.div-img {
  width: 300px;
  height: 170px;
  position: relative
}

.cardIcon {
  width: 300px;
  height: 170px;
  object-fit: cover;
  cursor: pointer;
}

.revealed-on-hover {
  background-color: rgba($color: black, $alpha: 0.5);
  position: absolute;
  width: 300px;
  height: 170px;
  display: none;
  top: 0;
  left: 0;
}

.hover-elt {
  margin-top: 15px;
  margin-left: 15px;
}

a.game-link {
  color: $primary-color;
  text-decoration: none;
  position: relative;

  &:after {
    //Compulsory
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: $primary-color;
    left: 0px;
    bottom: -3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
}

a.game-link:hover:after {
  width: 100%;
}

.btn-show-more-container {
  @include flexCenter(row);
  margin-top: 50px;
  margin-bottom: 100px;
}

.show-more-button {
  color: $primary-color;
  font-size: 1.2em;
  background-color: $secundary-color;
  width: 225px;
  height: 50px;
  border: none;

}

// PageDetail
.detail-image {
  width: 100%;
  height: 575px;
  object-fit: cover;
}

.detail-top {
  display: flex;
  justify-content: space-between;
}

.detail-rating {
  color: $secundary-color;
}

.detail-info1, .detail-info2 {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

